@import "tailwindcss";
@plugin "daisyui" {
  themes:
    light --default,
    dark --prefersdark,
    corporate;
}

:root {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  font-family: var(--font-sans), Arial, Helvetica, sans-serif;
}

/* Custom Tooltip Styles */
.tooltip-custom::before {
  @apply bg-white border border-info text-info text-sm font-normal shadow-lg;
}

.tooltip-custom::after {
  @apply border-t-white;
}
